@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-BookItalic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Book.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-SemiboldItalic.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-Heavy.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('assets/fonts/cooper/CooperHewitt-HeavyItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}