@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .c-container {
    @apply w-full px-margin;
  }

  .c-full-container {
    @apply w-full;
  }

  .dark {
    @apply bg-primary text-alternative
  }

  .button {
    @apply border border-transparent px-4 py-2 rounded-full font-medium text-base inline-flex items-center justify-center transition duration-300 ease-in-out;

    &.primary {
      @apply bg-primary text-white dark:bg-alternative dark:text-primary;

      &:hover {
        @apply bg-transparent border-primary text-primary dark:bg-primary dark:text-alternative dark:border-alternative;
      }
    }

    &.secondary {
      @apply bg-alternative text-primary dark:bg-primary dark:text-alternative;

      &:hover {
        @apply bg-primary text-white dark:bg-alternative dark:text-primary;
      }
    }

    &.alternative {
      @apply bg-transparent text-primary border border-primary dark:text-alternative dark:border-alternative;

      &:hover {
        @apply bg-primary text-white dark:bg-alternative dark:text-primary;
      }
    }
  }

  .bubble-item {
    @apply flex items-center justify-center py-2 px-4 border-primary border text-sm rounded-full dark:border-alternative dark:text-alternative dark:bg-primary;
  }

}

:root {
  font-family: "Inter", sans-serif;
  line-height: normal;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cooper Hewitt", "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}