@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  #root {
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
  }

  svg, image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .icon {
    @apply w-6 h-6 inline-flex aspect-square
  }

  .c-container {
    @apply w-full px-margin-sm md:px-margin-md lg:px-margin-lg wd:px-margin-wd;
  }

  .c-full-container {
    @apply w-full;
  }

  .dark {
    @apply bg-primary text-alternative
  }

  .button {
    @apply border border-transparent px-4 py-2 rounded-full font-medium text-base inline-flex items-center justify-center transition duration-300 ease-in-out;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.primary {
      @apply bg-primary text-white dark:bg-alternative dark:text-primary;

      &:hover {
        @apply bg-transparent border-primary text-primary dark:bg-primary dark:text-alternative dark:border-alternative;
      }
    }

    &.secondary {
      @apply bg-alternative text-primary dark:bg-primary dark:text-alternative;

      &:hover {
        @apply bg-primary text-white dark:bg-alternative dark:text-primary;
      }
    }

    &.alternative {
      @apply bg-transparent text-primary border border-primary dark:text-alternative dark:border-alternative;

      &:hover {
        @apply bg-primary text-white dark:bg-alternative dark:text-primary;
      }
    }
  }

  .bubble-item {
    @apply button text-sm px-2 lg:px-4 border-primary border lg:text-base rounded-full dark:border-alternative dark:text-alternative dark:bg-primary;
  }

  header + * {
    padding-top: 5rem;
  }

}

:root {
  font-family: "Inter", sans-serif;
  line-height: normal;
  font-weight: 400;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cooper Hewitt", "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}